@page "/edit/{Note_id}"
@using Microsoft.AspNetCore.SignalR.Client
@using Quantum.Data.Model
@inject Quantum.Data.Interfaces.INoteService noteService
@inject HubConnection hubConnection
<h3>Edit</h3>

<EditForm class="" Model="@Model" OnSubmit="@Submit">
    <div class="form-group text-center">
        <label for="header">Header</label>
        <InputText id="header" class="form-control" @bind-Value="Model.Header" />
    </div>
    <div class="form-group text-center">
        <label for="content">Content</label>
        <InputTextArea id="content" class="form-control" @bind-Value="Model.Content" />
    </div>
    <span></span>
    <button class="btn btn-primary my-2" type="submit" disabled="@(!IsConnected)">Submit</button>
</EditForm>




@code {
    public Note? Model { get; set; }
    [Parameter]
    public string? Note_id { get; set; }

    protected override void OnInitialized()
    {
        Model = noteService.Find(Guid.Parse(Note_id ?? string.Empty));
    }
   
    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;
    private async Task Submit()
    {
        if (hubConnection is not null)
        {
            if (Model is not null)
            {
                noteService.Update(Model);
            }
            await hubConnection.SendAsync("SendNote");
        }

    }
}