<div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header d-flex justify-content-around">
                        <small>Created: @note.Created.Value.ToString("dd.MM.yyyy")</small>
                        <h5 class="card-title">@note.Header</h5>
                        <NavLink class="btn btn-warning py-1" href="@($"edit/{note.Note_Id}")">
                            <span class="oi" aria-hidden="true"></span> Edit
                        </NavLink>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@note.Content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
@code {
    [Parameter]
    public Note? note { get; set; }
}
