@page "/edit/{Note_id}"
@using Quantum.Data.Model
@inject Quantum.Data.Interfaces.INoteService noteService
<h3>Edit</h3>

<EditForm class="" Model="@Model" OnSubmit="@Submit">
    <div class="form-group text-center">
        <label for="header">Header</label>
        <InputText id="header" class="form-control" @bind-Value="Model.Header" />
    </div>
    <div class="form-group text-center">
        <label for="content">Content</label>
        <InputTextArea id="content" class="form-control" @bind-Value="Model.Content" />
    </div>
    <span></span>
    <button class="btn btn-primary my-2" type="submit">Submit</button>
</EditForm>




@code {
    public Note Model { get; set; }
    [Parameter]
    public string? Note_id { get; set; }

    protected override void OnInitialized()
    {
        if (Guid.TryParse(Note_id, out var id))
        {
            Model = noteService.Find(id);
        }
        else
        {
            Model = new Note { Note_Id = Guid.Empty };
        }
    }


    private void Submit()
    {
        if (Model is not null && Model.Note_Id != Guid.Empty)
        {
            noteService.Update(Model);
        }
    }
}