@page "/filter/{filter}"
@using Quantum.Data.Interfaces
@inject INoteService noteServices

<h3>Filter</h3>

@foreach (var filteredNote in noteServices.Filter(filter))
{
    <NoteComponent note = "@filteredNote"/>
}

@code {
    [Parameter]
    public string filter { get; set; }
}
